.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.input-search {
  margin-bottom: 1rem;
  outline: none;
}
.pagination {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.pagination button {
  border-color: black;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.3rem;
  height: 2rem;
  width: 4rem;
}
