.App {
  font-family: sans-serif;
  text-align: center;
}

:root {
  /* colors */
  --primary-100: #ccfbf1;
  --primary-200: #99f6e4;
  --primary-300: #5eead4;
  --primary-400: #2dd4bf;
  --primary-500: #14b8a6;
  --primary-600: #0d9488;
  --primary-700: #0f766e;
  --primary-800: #115e59;
  --primary-900: #134e4a;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}

/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.error-fetch {
  background: var(--red-light);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 900px;
}
/* ============= PROJECT CSS =============== */

/*=== SKELETON LOADING ANIMATION === */
 .skeleton {
    background: #ddd;
    margin: 10px 0;
    border-radius: 4px;
 } 
 .skeleton.text {
    width: 100%;
    height: 12px;
 } 
 .skeleton.title {
    width: 50%;
    height: 20px;
    margin-bootom: 1rem;
 } 
 .skeleton.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
 } 
 .skeleton.thumbnail {
    width: 100px;
    height: 100px;
 } 
 .skeleton.tab {
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 1.5rem;
 } 

.skeleton-container {
  position: relative;
  width: 80vw;
  height: auto;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  }
  
.skeleton-header {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(5, 70px);
  padding: 0;
  column-gap: 0.5rem;
 }

.skeleton-sub-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;

  border: solid 1px #ccc;
  padding: 1rem;
  border-radius: 0.5rem;
 }

 .skeleton-cell {
  width: 30%;
 }

.skeleton-row {  
  height: 5rem;
  background: rgba(214, 210, 210, 0.7);
  border-radius: 0.5rem;
}

.shimmer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  animation: loadingShimmer 1s linear infinite ;
  overflow: hidden;
}

.shimmer {
  width: 40%;
  height: 110%;
  background: rgba(255,255,255,0.2);
  transform: skewX(-30deg);
  box-shadow: 0 0 30px 30px rgba(255,255,255,0.05);
}

@keyframes loadingShimmer {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(150%);
  }
}


.jobs-center {
  width: 80vw;
  margin: 5rem auto;
  max-width: var(--max-width);
}

.job-info {
  border: solid 1.8px rgb(218, 214, 214);
  margin-bottom: 1rem;
  overflow-x: hidden;
}

.header-sub-section {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: rgb(206, 224, 241);
  height: 2rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.job-desc {
  display: grid;
  grid-template-columns: 1fr
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.sub-section-cell {
  padding: 0.5rem;
}

.subtitle-cell {
  text-transform: capitalize;
  font-weight: 500;
}

.job-desc p {
  color: var(--grey-700);
  line-height: 1.5;
}

.job-btn {
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 0.4rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(209, 206, 206);
}

.job-btn {
  background: transparent;
  border-color: transparent;
  letter-spacing: var(--letterSpacing);
  cursor: pointer;
  transition: var(--transition);
  border: 1px solid rgb(209, 206, 206);
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  border-bottom: none;
  font-size: 0.7rem;
  padding: 0.3rem;
  text-transform: capitalize;
}

.job-btn:hover {
  color: white;
  background-color: rgb(69, 153, 231);
  /* box-shadow: 0 2px var(--primary-500); */
}
.active-btn {
  color: white;
  background-color: rgb(69, 153, 231);
}

@media screen and (min-width: 600px){
  .job-desc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .skeleton-sub-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
   }

   .shimmer {
    height: 175%;
  }
}


