.children-container {
  margin-left: 1rem;
  margin-top: 4px;
  font-size: 14px;
}

.folder {
  cursor: pointer;
}

.folder-container {
  display: flex;
  gap: 5px;
  margin-top: 2px;
}

.actions-container {
  display: flex;
  gap: 5px;
}

.btn {
  border: solid 1px rgb(17, 17, 17);
  cursor: pointer;
  background-color: transparent;
}
.btn:hover {
  background-color: black;
  color: white;
}
.input {
  margin-left: 1rem;
  margin-top: 3px;
}
