.accordion-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  border: solid 1px black;
  border-radius: 2rem;
  padding: 2rem;
}

.accordion-container > section {
  border-bottom: solid 1px black;
  width: 90%;
}
.accordion-container h1 {
  cursor: pointer;
}

.accordion-container > section:last-child {
  border-bottom: none;
}

.header-item {
  display: flex;
  gap: 1rem;
}

.header-item button {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}
