.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: grid;
  gap: 0.5rem;
  place-content: center;
  height: 100vh;
}

.btn {
  display: block;
  background: transparent;
  border-radius: 0.2rem;
  min-width: 5rem;
  width: 30%;
  height: 1.5rem;
  text-transform: capitalize;
  border: solid 2px rgb(27, 71, 27);
  cursor: pointer;
}

.progress-bar-container {
  height: 1.2rem;
  width: 30rem;
  border-radius: 50px;
  position: relative;
  background: rgb(255, 255, 255);
  border: 1px solid black;
  overflow: hidden:
}

.progress-bar {
  border-radius: 50px;
  height: 100%;
  background: rgb(186, 230, 121);
  width: var(--width-progress);
  z-index: 2;
}

.text-progress {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
