.grid {
  display: grid;
  grid-template-columns: repeat(var(--cols, 10), 35px);
  grid-template-rows: repeat(var(--rows, 10), 35px);
  place-content: center;
  gap: 0.2rem;
  height: 100vh;
  user-select: none;
}

.box {
  display: felx;
  place-content: center;
  border: solid 1px black;
  width: 35px;
  height: 35px;
}

.selected {
  background: lightblue;
}
