.folder {
  margin-top: 6px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  cursor: pointer;
}

.folder > span {
  margin: 0 5px;
}

.folder > div > button {
  border: solid 1px black;
  background-color: white;
  cursor: pointer;
  margin-left: 2px;
}

.file {
  margin-top: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}
.inputContainer > span {
  margin-top: 5px;
}
.inputContainer__input {
  margin-top: 5px;
  padding: 5px;
  display: flex;
  border: solid 1px lightgray;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}
