* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flex-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.input-box {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  text-align: center;
  border: none;
  outline: none;
  background-color: #eee;
  font-weight: 600;
  font-size: 1.5rem;
}

.input-box::selection {
  background-color: black;
  color: white;
}
.input-box:focus {
  outline: 2px solid black;
  color: #000;
}
.input-box:disabled {
  cursor: not-allowed;
}

.button {
  border: 2px solid black;
  outline: none;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.button:focus {
  border: 2px solid black;
  outline-offset: 1px;
}
.button:disabled {
  opacity: 0.25;
  cursor: not-allowed;
  transition: all 0.3s linear;
}
.button--primary {
  color: white;
  background-color: #000;
}
.button--secondary {
  color: #000;
  background-color: transparent;
}
