.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  background-color: white;
  border-radius: 3rem;
  width: 300px;
  height: 300px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-content header {
  border-bottom: 1px solid black;
  padding: 1rem;
}

.modal-content section {
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content footer {
  border-top: 1px solid black;
  padding: 1rem;
}

.close-btn {
  color: red;
  font-size: 1.2rem;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
