.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  position relative;
  width: 300px;
  margin: 0 auto;
}

.container input {
 border-radius: 4px;
 box-sizing: border-box;
 font-size: 1rem;
 width: 100%;
 padding: 10px;
 border: solid 1px #ccc;
}

.error, loading {
  font-size: 1rem;
  padding: 1rem;
  color: #555;
}

.error {
  color: red;
}

.suggestion-list{
  postion: absolute;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0 0 4px 4px;
  background: white;
  z-index: 10;
  max-height: 150px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  border: solid 1px #ccc;
  list-style: none;
  text-align: left;  
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}
.suggestion-item:hover {
  background: #f0f0f0;  
}